<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
</head>
<body>
    <h1>Profile</h1>

    <%- include('partials/nav') %> <br>
    
    <hr>
    <table border="1">
        <tr>
            <th>User Name</th>
            <th>Profile Name</th>
            <th>Phone Number</th>
            <th>Email</th>
            <th>Password</th>
            <th>Action</th>
        </tr>

        <% profiles.forEach(el => { %>
         <tr>
            <td><%= el.User.userName %></td>
            <td><%= el.profileName %></td>
            <td><%= el.phoneNumber %></td>
            <td><%= el.User.email %></td>
            <td><%= el.User.password %></td>
            <td>
                <button>
                    <a href="/profile/edit/<%= el.id %>">Edit</a>
                </button>
            </td>
         </tr>
        <% }) %>
    </table>
    
</body>
</html>