<!DOCTYPE html>
<html lang="id">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lore Coffee</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-gray-100">
    <!-- Header -->
    <%- include('partials/nav') %>
    
    <!-- Content -->
    <main class="container mx-auto p-6">
        <!-- Banner Promo -->
        <section class="bg-yellow-200 rounded-lg p-6 text-center shadow-md">
            <h2 class="text-2xl font-bold">Promo Special!</h2>
            <p class="text-lg mt-2">Dapatkan diskon 20% untuk semua varian kopi hingga akhir bulan ini!</p>
        </section>

        <!-- Search bar -->
        <hr>
        <form action="/menu" method="get">
            <input type="text" name="itemName" id="itemName" placeholder="Search by Name"><br>

            <button type="submit">Search</button>
            <button>
                <a href="/menu">Reset Search</a>
            </button>
        </form>

        </section>

        <!-- Filter -->
        <div>
            <a href="/menu"><button>All</button></a>
        
            <button>
                <a href="/menu?categoryName=Americano">Americano</a>
            </button>

            <button>
                <a href="/menu?categoryName=Espresso">Espresso</a>
            </button>
        
            <button>
                <a href="/menu?categoryName=Cappuccino">Cappuccino</a>
            </button>
        
            <button>
                <a href="/menu?categoryName=Macchiato">Macchiato</a>
            </button>
        </div>
        
        <!-- Add Menu -->
         <button>
            <a href="/menu/add">Add Menu</a>
         </button>

        <!-- Card All Menu -->
    </main>
</body>
</html>

<body>
    <h1>Menu</h1>

    <%- include('partials/nav') %> <br>
    
    <hr>
    <table border="1">
        <tr>
            <th>Image</th>
            <th>Name</th>
            <th>Description</th>
            <th>Price</th>
            <th>Action</th>
        </tr>

        <% menus.forEach(el => { %>
         <tr>
            <td><img src="<%= el.imageURL %>" alt="<%= el.itemName %>" width="200px"></td>
            <td><%= el.itemName %></td>
            <td><%= el.description %></td>
            <td><%= formatRupiah(el.price) %></td>
            <td>
                <button>
                    <a href="/menu/edit/<%= el.id %>">Edit</a>
                </button>

                <button>
                    <a href="/menu/delete/<%= el.id %>">Delete</a>
                </button>
            </td>
         </tr>
        <% }) %>
    </table>
    
</body>
</html>
