<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-gray-100">
    <%- include('partials/nav') %> 
    <main class="container mx-auto p-6">

        <h1 class="text-3xl font-bold text-gray-800 mt-6 text-center">Profile</h1>

        <hr class="my-6 border-gray-300">

        <!-- Card -->
        <div class="bg-white shadow-lg rounded-lg p-6 mt-6 w-11/12 max-w-md mx-auto">
            <% if (profiles.length > 0) { %>
            <div class="flex flex-col items-center">
                <!-- Foto Profil -->
                <img src="<%= profiles[0].profilePicture ? profiles[0].profilePicture : 'https://t4.ftcdn.net/jpg/05/49/98/39/360_F_549983970_bRCkYfk0P6PP5fKbMhZMIb07mCJ6esXL.jpg' %>" 
                     alt="Profile Picture" 
                     class="w-32 h-32 rounded-full border-4 border-blue-500 shadow-md hover:scale-105 transition duration-300">

                <div class="mt-4 text-lg text-gray-700"><strong>User Name:</strong> <%= profiles[0].User.userName %></div>
                <div class="text-lg text-gray-700"><strong>Profile Name:</strong> <%= profiles[0].profileName %></div>
                <div class="text-lg text-gray-700"><strong>Phone Number:</strong> <%= profiles[0].phoneNumber %></div>
                <div class="text-lg text-gray-700"><strong>Email:</strong> <%= profiles[0].User.email %></div>

                <a href="/profile/edit/<%= profiles[0].id %>" 
                   class="mt-6 bg-blue-600 hover:bg-blue-700 text-white font-semibold py-2 px-6 rounded-lg shadow-md transition duration-300">
                    Edit Profile
                </a> <br>
                <button 
                class="bg-red-600 hover:bg-red-700 text-white font-semibold py-2 px-6 rounded-lg shadow-md transition duration-300">
                <a href="/logout" method="get" class="mt-4">
                        Logout
                </a>
                </button>
                </form>
            </div>
            <% } else { %>
            <p class="text-gray-600">Profile not found</p>
            <% } %>
        </div>
    </main>
</body>
</html>